wiki/Flows.txt
[{"id":"6f305643.667da8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86227ab1.12bf38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1f6eba17.c54116","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.92","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"efbc0eb.27ba1f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"72f3c190.058","type":"function","z":"6f305643.667da8","name":"Puerta Abierta","func":"var res = {};\nvar tempArray = [];\nvar puerta = \"\";\n\ntempString = msg.payload;\nif(parseInt(tempString) == 16 )\n{\n    res.payload = \"Puerta Abierta\"\n}\nif(parseInt(tempString) == 17)\n{\n    res.payload = \"Puerta Cerrada\"\n}\nif(parseInt(tempString) == 22)\n{\n     res.payload = {\"Alerta\": \"Movimiento Detectado\", \"Lugar\":\"Inmuble 1\"}\n     res.flag = 22\n    \n}\nif(parseInt(tempString) == 23)\n{\n     res.payload = {\"Alerta\": \"Movimiento Terminado\", \"Lugar\":\"Inmuble 1\"}\n     res.flag = 23\n}\nif(parseInt(tempString) == 29)\n{\n     res.payload = {\"Alerta\": \"Intento De Apertura Sospechosa\", \"Lugar\":\"Inmuble 1\"}\n     res.flag = 29\n    \n}\nif(parseInt(tempString) == 50)\n{\n     res.payload = {\"Alerta\": \"Puerta Abierta por mas de 30 segundos\", \"Lugar\":\"Inmuble 1\"}\n     res.flag = 50\n    \n}\n\n\n\n\n\n\nreturn res;","outputs":1,"noerr":0,"x":430,"y":248,"wires":[["ea0d0630.bc19b8","499dd4f1.fe751c","8da69419.fea468","318e2ab3.761756"]]},{"id":"718fef40.568ee","type":"inject","z":"6f305643.667da8","name":"Starter","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":55,"y":250,"wires":[["573d16f6.3ed458"]]},{"id":"573d16f6.3ed458","type":"random","z":"6f305643.667da8","name":"Fake Input","low":"16","high":"50","inte":"true","property":"payload","x":243.5,"y":248,"wires":[["72f3c190.058"]]},{"id":"318e2ab3.761756","type":"switch","z":"6f305643.667da8","name":"","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":618.5,"y":349,"wires":[["61b2a530.4ad20c"]]},{"id":"499dd4f1.fe751c","type":"switch","z":"6f305643.667da8","name":"","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"23","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":611,"y":199,"wires":[["e2d7dd6e.658df"]]},{"id":"8da69419.fea468","type":"switch","z":"6f305643.667da8","name":"","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"29","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":618,"y":293,"wires":[["c4a21606.d48b48"]]},{"id":"ea0d0630.bc19b8","type":"switch","z":"6f305643.667da8","name":"","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":614,"y":246,"wires":[["f3db131c.c8423"]]},{"id":"e2d7dd6e.658df","type":"mqtt out","z":"6f305643.667da8","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/PresenciaExtraña","qos":"0","retain":"false","broker":"1f6eba17.c54116","x":950.5,"y":197,"wires":[]},{"id":"f3db131c.c8423","type":"mqtt out","z":"6f305643.667da8","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/PresenciaExtraña","qos":"0","retain":"false","broker":"1f6eba17.c54116","x":953,"y":255,"wires":[]},{"id":"c4a21606.d48b48","type":"mqtt out","z":"6f305643.667da8","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/IntentoSospechoso","qos":"0","retain":"false","broker":"1f6eba17.c54116","x":948,"y":298,"wires":[]},{"id":"61b2a530.4ad20c","type":"mqtt out","z":"6f305643.667da8","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/PuertaAbierta","qos":"0","retain":"false","broker":"1f6eba17.c54116","x":931,"y":353,"wires":[]},{"id":"4e732812.a62368","type":"mqtt in","z":"86227ab1.12bf38","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/PresenciaExtraña","qos":"2","broker":"1f6eba17.c54116","x":304.5,"y":151,"wires":[["66b1f26d.b043bc"]]},{"id":"9b341c1.68b20e","type":"mqtt in","z":"86227ab1.12bf38","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/IntentoSospechoso","qos":"2","broker":"1f6eba17.c54116","x":319,"y":229,"wires":[["85294976.e9cb08"]]},{"id":"f4d2567a.6eb0b8","type":"mqtt in","z":"86227ab1.12bf38","name":"","topic":"UnidadResidencial/Inmueble1/cerradura/PuertaAbierta","qos":"2","broker":"1f6eba17.c54116","x":299,"y":292,"wires":[["33ab3076.f0947"]]},{"id":"fa7442a0.8ce51","type":"function","z":"86227ab1.12bf38","name":"","func":"var res = {};\nvar thing = msg.payload.Alerta;\nvar thing2 = msg.payload.Lugar;\n\nres.payload = thing +\" en \"+thing2;\nres.topic = \"Presencia Extraña En Inmueble\"\n\nreturn res;","outputs":1,"noerr":0,"x":734.5,"y":152,"wires":[["2d482770.e66248"]]},{"id":"62e73002.b455e","type":"function","z":"86227ab1.12bf38","name":"","func":"var res = {};\nvar thing = msg.payload.Alerta;\nvar thing2 = msg.payload.Lugar;\n\nres.payload = thing +\" en \"+thing2;\nres.topic = \"Intento de Apertura Sospechoso En Inmueble\"\n\nreturn res;","outputs":1,"noerr":0,"x":730.5,"y":222,"wires":[["a1529a75.d07998"]]},{"id":"160f1922.8ab0b7","type":"function","z":"86227ab1.12bf38","name":"","func":"var res = {};\nvar thing = msg.payload.Alerta;\nvar thing2 = msg.payload.Lugar;\n\nres.payload = thing +\" en \"+thing2;\nres.topic = \"Puerta Abierta En Inmueble\"\n\nreturn res;","outputs":1,"noerr":0,"x":728.5,"y":291,"wires":[["300fd657.62ba6a"]]},{"id":"66b1f26d.b043bc","type":"json","z":"86227ab1.12bf38","name":"","property":"payload","action":"","pretty":false,"x":596.5,"y":152,"wires":[["fa7442a0.8ce51"]]},{"id":"85294976.e9cb08","type":"json","z":"86227ab1.12bf38","name":"","property":"payload","action":"","pretty":false,"x":602,"y":225,"wires":[["62e73002.b455e"]]},{"id":"33ab3076.f0947","type":"json","z":"86227ab1.12bf38","name":"","property":"payload","action":"","pretty":false,"x":600,"y":290,"wires":[["160f1922.8ab0b7"]]},{"id":"2d482770.e66248","type":"e-mail","z":"86227ab1.12bf38","server":"smtp.office365.com","port":"587","secure":false,"name":"a.gracia10@uniandes.edu.co","dname":"","x":939.5,"y":150,"wires":[]},{"id":"a1529a75.d07998","type":"e-mail","z":"86227ab1.12bf38","server":"smtp.office365.com","port":"587","secure":false,"name":"a.gracia10@uniandes.edu.co","dname":"","x":953,"y":226,"wires":[]},{"id":"300fd657.62ba6a","type":"e-mail","z":"86227ab1.12bf38","server":"smtp.office365.com","port":"587","secure":false,"name":"a.gracia10@uniandes.edu.co","dname":"","x":956,"y":291,"wires":[]}]